* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 2rem;
}

.header {
    display: flex;
}

.header-picture {
    min-width: 30%;
    min-height: 200px;
    padding-right: 0.5rem;
}

.header-picture img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

.desktop-nav {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 690px) {
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-picture {
        max-width: 20%;
        min-height: 200px;
        padding-right: 0.5rem;
    }

    .desktop-nav {
        display: block;
        min-width: 300px;
        max-width: 30%;
    }

    main {
        display: flex;

    }
}


